    /* Global custom property (Variable) */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

    /* Universal * selector to be applied to entire document. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    background-color: #d9dcd6;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;      /* First added flexbox feature. Replaced Version 1.0 values of "float:right" & "display:inline". */
    justify-content: space-between;     /* Evenly spaces out by calculating margin, border-width, padding & content of each child element. */
    flex-wrap: wrap;    /* Allows content to be pushed to next line if it doesn't all fit. */
    position: -webkit-sticky;   /* Vendor Prefix: -webkit- attached for Safari browser users. Always list the prefixed version first before the standard/finalized one. */
    position: sticky;   /* adds fixed position to header */ 
    top: 0;     /* tells browser where to stick the element when its in fixed position */
    background-image: url("../images/hero-bg.jpg");     /* This & the following two properties, style the header to match the hero section. */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    background-position: 80%;
    z-index: 9999;      /* This property changes the stacking order of the HTML elements on the page. A higher z-index brings the element to the front while a lower z-index pushes it to the back. */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);   /* adds shadow to text */
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

  /* This rule is known as the Flex Container since it has the "display: flex;" property & value. "Row" is the default value of "flex-direction" property. The flex-direction values: (row/column) determine the Main Axis. Thus allowing the Cross Axis to run perpendicular. */
header nav ul { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This property follows the Main Axis. */
    align-items: center; /* This property follows the Cross Axis. In this case it vertically centers the content. */
    list-style: none;
}

header nav ul li a {                                            
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2vw; /* Viewport Width value */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

    /* Pseudo-Class: adds hover effect to the element. */
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

p {
    font-size: 16px;
}

  /* A period indicates its a class selector. Look for a matching class attribute in the HTML doc. */
.hero {
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;   /* Find the two identical declarations in header rule. This makes it so the header looks apart of the hero section. */
    background-position: 80%;       /* ^^ */
}

  /* a dash indicates the sequence of HTML elements to be modified */
.hero-form {
    color: var(--secondary-color);
    background-color: rgba(252, 225, 56, 0.8); /* adds transparency to form */
    padding: 20px;
    border: solid 3px var(--secondary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);    /* adds shadow to form */
    border-radius: 15px;    /* adds round corners to element */
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}
  
.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);      /* This declaration makes the form input's default state slightly transparent */
}

    /* Rule for focus state. Switches to full opaqueness when the input is in focus. */
.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

    /* Pseudo-Class: Adds hover effect to the element. */
.hero-form button:hover {
    background-color: var(--tertiary-color);  
}

    /* Pseudo-Element: Allows the selected elements to be invisble. Look for identical class attributes in HTML doc. Hint:they are inside <span> tags. */
.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

    /* preps label elements so that new buttons can fit inside */
.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

    /* The ::before pseudo-element lets us inject content into an HTML element using CSS. */
.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);  
    border: 1px solid var(--secondary-color);  
    position: absolute;     /* used to place new box on top of invisble/original input element */
    top: -4px;
    left: -30px;
    border-radius: 50%; /* rounded-corners */
}

    /* define how buttons display when clicked on */
.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));    /* Adjust the look of the input to gradient look. */
}
  
.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position: absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);  /* Adjust the look of the input to an actual checkmark. */
}

    /* allows user to fill in radio button once clicked on */
.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
    content: none;
}

    /* allows user to check the box off once clicked on */
.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
    content: "";
}

    /* Intro selectors style the What-We-Do section. Look for the identical class attributes & elements in HTML doc. */
.intro p {
    line-height: 1.7;
    color: var(--tertiary-color);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;  /* Center aligns content */
    text-align: center;
}

  /* Steps selectors style the What-You-Do section. */
.steps {
    background: var(--primary-color);
}

  /* styles all HTML elements with "step" class attribute with flexbox */
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--tertiary-color);
}

    /* rule for state based on Positioning */
.step:last-child {
    border-bottom: none;
}

  /* renamed selector from ".steps h3" to apply flexbox */
.step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 30%;
}

.step-info {
    flex: 2 70%; /* <flex> property declared with <grow/shrink/basis> values */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 100%;
}

.step-text {
    flex: 12;
}
  
.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
}

  /* This is the shorthand rule of the .intro h2{} & .steps h2{} selectors that were replaced (combined then deleted) to make this one. Since they contain the same declarations. */
  /* also used for reach-out section */
.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}
  
  /* selector for what-we-do section */
.primary-border {
    border-color: var(--primary-color);
}
  
  /* selector for what-you-do section */
.secondary-border {
    border-color: var(--tertiary-color);
}

  /* this CSS rule styles the entire "meet the trainers" section */
.trainers {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

  /* this rule adds flexbox style to all HTML elements with the trainer class attribute */
.trainer {
    margin: 0 auto 20px auto;
    background: var(--secondary-color);
    color: var(--primary-color);
    flex: 1;
}

.trainer img {
    width: 100%;
}
  
.trainer-bio {
    padding: 25px;
    line-height: 1.3;
}

.trainer-bio h3 {
    font-size: 28px;
}
  
.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
}
  
.trainer-bio p {
    font-size: 17px;
}

  /* AKA: utility class. Rule can be applied to any HTML element that needs a quick fix to their text-align properties */
.text-left {
    text-align: left;
}
  
  /* identify the matching class attribute in HTML doc */
.text-right {
    text-align: right;
}

  /* styles the reach-out section */
.contact {
    background: var(--secondary-color);
}

.contact h2 {
    color: var(--primary-color);
}

  /* allows all three child elements (trainer cards) in meet the trainer section to share the space equally */
.contact-info > * {  /* The > symbol means it's looking specifically for direct children of the element listed first. In this case, it's selecting all children of the element with contact-info as its class. */
    flex: 1;
    margin: 15px;
}  

.contact-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

  /* class selector that styles the iframe element */
.contact-info iframe {
    height: 400px;
}

.contact-info div {
    color: white;
}

.contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
}
  
.contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
}
  
.contact-info a {
    color: var(--primary-color);
}

  /* adds flexbox to child elements in reach out section */
.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.75);
    outline: none;
}

    /* Pseudo-Class: rule for focus state */
.contact-form input:focus, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

  /* adds flexbox to child elements in reach out section */
.contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

    /* Pseudo-Class: adds hover effect to the element */
.contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex; /* adds flexbox to footer */
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}  

  /* rule to be followed by every section element */
section {
    padding: 60px;
}

.flex-row {
    display: flex;
}

  /* MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* this will be applied on any screen smaller than 980px */
  header {
      padding-bottom: 0;
      justify-content: center;
      position: relative
  }
  
  header h1 {
      width: 100%;
      text-align: center;
  }
  
  header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
  }
  
  header nav ul li a {
      font-size: 20px;
  }
  
  footer h2, footer div {
      text-align: center;
      width: 100%;
  }

  .hero-cta, .hero-form {
      width: 100%;
  }
    
  .hero-cta {
      text-align: center;
  }

  .section-title {
      width: 80%;
  }
    
  .trainer {
      flex: 0 70%;
  }
    
  .contact-info iframe{
      flex: 1 100%;
  }
}

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px and 575px */
  section {
      padding: 30px 15px;
  }

  .step h3 {
      flex: 1 100%;
      text-align: center;
  }
  
  .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
  }
  
  .step-img {
      flex: 0 32%;  /* flex-grow=0 & flex-basis=32%. This means the width of img is capped at 32% & that it won't use any extra space since grow set to 0. */
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  
  .step-text {
      flex: 100%;  
  }
}

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* this will be applied on any screen smaller than 575px */
  .hero-form button {
      width: 100%;
  }
  
  .section-title {
      width: 95%;
  }
  
  .intro p {
      width: 100%;
  }
  
  .trainer {
      flex: 0 100%;
  }
  
  .contact-info {
      text-align: center;
  }
  
  .contact-info > * {
      flex: 0 100%;
  }

  .contact-form {
      order: 3;
  }
}